.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  padding: 1rem;

  border-radius: var(--mantine-radius-xs);

  background-color: var(--content-bg);

  box-shadow: var(--mantine-shadow-center_sm);
}

.button {
  margin: 0 auto;

  color: var(--mantine-color-text);
  border-color: var(--mantine-color-text);

  &:hover:not(:disabled) {
    border-color: var(--mantine-color-yellow-7);
    background-color: var(--content-bg);
  }
}
