{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "importOrder": [
    "^react",
    "^@(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^../api/(.*)$",
    "^../components/(.*)$", 
    "^../pages/(.*)$",
    "^./[^.]*$",
    "^.*\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}