.card {
  width: 15em;
  margin-bottom: var(--mantine-spacing-xs);
}

.imageSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.label {
  margin-bottom: var(--mantine-spacing-xs);
  line-height: 1;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  letter-spacing: -0.25px;
  text-transform: uppercase;
}

.section {
  padding: var(--mantine-spacing-xs);
}
