.card {
  width: 14.5rem;
  margin-bottom: var(--mantine-spacing-md);

  opacity: 0.9;

  cursor: pointer;

  border-radius: var(--mantine-radius-xs);

  background: var(--content-bg);

  box-shadow: var(--mantine-shadow-center_sm);

  &:hover {
    opacity: 1;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: var(--mantine-spacing-xs);
}

.carousel {
  margin-bottom: 0.5rem;
}

.carousel :global(.mantine-Carousel-indicators) {
  position: relative;
  bottom: -0.4rem;

  margin: 0 0.5rem;
}

.carousel :global(.mantine-Carousel-indicator) {
  background-color: var(--text-second-color);
}

.carousel :global(.mantine-Carousel-indicator[data-active]) {
  background-color: var(--primary-color);
}

.iconPlay {
  display: flex;

  position: absolute;
  top: 50%;
  left: 50%;

  padding: 0.5rem;

  border-radius: 50%;
  background: #000000b3;

  transform: translate(-50%, -50%);
}

.label {
  line-height: 1;
  font-weight: 600;
  font-size: var(--mantine-font-size-lg);
  letter-spacing: -0.25px;
  text-transform: uppercase;
}

.subInfo {
  justify-content: space-between;
  gap: 0.3rem;

  color: var(--text-second-color);
}

.rating {
  font-size: var(--mantine-font-size-sm);
  font-weight: 700;

  padding: 0 0.2rem;

  color: var(--mantine-color-text);
  background-color: var(--content-bg-dark);

  border: 1px solid var(--content-bg-dark);
  border-radius: 0.2rem;
}

.added {
  gap: 0.1rem;
}
