.card {
  width: 15em;
  height: 17em;
  background-color: var(--mantine-color-body);

  border-radius: 10%;
}

.imageSection {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--mantine-spacing-md);

  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  width: 90%;
  height: 60%;
}

.card__img_bcg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.label {
  margin-bottom: var(--mantine-spacing-xs);
  line-height: 1;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  letter-spacing: -0.25px;
  text-transform: uppercase;
}

.section {
  padding: var(--mantine-spacing-md);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.icon {
  margin-right: 5px;
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-2));
}
