@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    padding: 0 5%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    padding: 0 10%;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 15%;
  }
}
