[data-mantine-color-scheme='light'] {
  --content-bg: var(--mantine-color-light_dark-2);
  --content-bg-dark: var(--mantine-color-light_dark-3);
  --text-second-color: var(--mantine-color-light_dark-6);
  --mantine-color-body: var(--content-bg);
  --mantine-color-card: var(--content-bg);
}

[data-mantine-color-scheme='dark'] {
  --content-bg: var(--mantine-color-light_dark-8);
  --content-bg-dark: var(--mantine-color-light_dark-9);
  --text-second-color: var(--mantine-color-light_dark-6);
  --mantine-color-body: var(--content-bg);
  --mantine-color-card: var(--content-bg);
}

.gamesList {
  row-gap: var(--mantine-spacing-md);
}

body {
  max-width: 1130px;
  min-width: 320px;

  margin: 0 auto;

  background: light-dark(
    var(--mantine-color-light_dark-3),
    var(--mantine-color-light_dark-9)
  );
}

@media (min-width: 650px) and (max-width: 1024px) {
  body {
    padding: 0 10%;
    font-size: 15px;
  }
}

@media (max-width: 649px) {
  html {
    padding: 0 1rem;
  }

  body {
    font-size: 14px;
  }
}
