[class*='mantine-Tabs-list']::before {
  display: none;
}

.nav,
.container,
.aside {
  border-radius: var(--mantine-radius-xs);

  background: var(--content-bg);

  box-shadow: var(--mantine-shadow-center_sm);
}

.nav {
  font-weight: 700;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
